<form method="POST" action="/submit" enctype="multipart/form-data">

    <p>信息</p>
    <blockquote>
        <input type="num" placeholder="学号" name="userId" />
        <input type="text" placeholder="姓名" name="name" />
        <input type="hidden" />
    </blockquote>

    <p>作业</p>
    <blockquote>
        <div id="radioGroup">
            <input id="radio_html" type="radio" value="HTML" name="homework" />
            <span onclick="document.querySelector('#radio_html').click()">HTML</span>

            <input id="radio_sql" type="radio" value="SQL" name="homework" />
            <span onclick="document.querySelector('#radio_sql').click()">SQL</span>

            <input id="radio_python" type="radio" value="Python" name="homework" />
            <span onclick="document.querySelector('#radio_python').click()">Python</span>
        </div>
        
        <hr />

        <div>
            <a href="javascript:void(0);" onclick="document.getElementById('selector').click()">上传文件</a>
            <span id="file"></span>
            <input id="selector" type="file" name="file" onchange="document.getElementById('file').innerText = document.getElementById('selector').value" hidden />
        </div>
    </blockquote>

    <div>
        <br />
        <input type="submit" value="提交" />
    </div>

</form>