<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作业提交</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />

    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" href="../css/index.min.css" />

    <script src="../js/index.min.js"></script>
</head>
<body>

    <header>
        <h2>作业提交</h2>
        <div>
            <a href="/">Home</a>
            |
            <a href="javascript:void(0)" onclick="switchTheme()">Theme</a>
        </div>
    </header>


    <form method="POST" action="/submit" enctype="multipart/form-data">

        <p>信息</p>
        <blockquote>
            <input type="num" placeholder="学号" name="userId" />
            <input type="text" placeholder="姓名" name="name" />
            <input type="hidden" />
        </blockquote>

        <p>作业</p>
        <blockquote>
            <div>
                <input type="radio" value="HTML" name="homework" />
                <span>HTML</span>
    
                <input type="radio" value="SQL" name="homework" />
                <span>SQL</span>
    
                <input type="radio" value="Python" name="homework" />
                <span>Python</span>
            </div>
            
            <hr />

            <div>
                <a href="javascript:void(0);" onclick="document.getElementById('selector').click()">上传文件</a>
                <span id="file"></span>
                <input id="selector" type="file" name="file" onchange="document.getElementById('file').innerText = document.getElementById('selector').value" hidden />
            </div>
        </blockquote>

        <div>
            <input type="submit" value="提交" />
        </div>

    </form>
</body>
</html>